{{ define "main" }}
  <h1>ask! Newsletter-Archiv</h1>
  {{ range .Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h3>
    <ul>
    {{ range .Pages }}
        <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a> ({{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }})
        </li>
    {{ end }}
    </ul>
    {{ end }}
{{ end }}

