{{ define "main" }}
<article class="lg:w-3/4 mx-auto">
  <h1>ask! Newsletter</h1>
  <h2>{{ .Title }}</h2>
  <p>
        <time class="text-gray-600">Veröffentlicht am {{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
  </p>
  {{ .Content }}
</article>
{{ end }}

