{{ define "main" }}
<article class="bg-repeat-y bg-contain" style="background-image:url(bg-tagung2.png)">
    <div style="background-color: rgba(255, 255, 255, .55)">
    <div class="text-center">
    <img src="/images/logo-ask.png" alt="ask!" class="inline w-40">
    <h1 class="mt-5">Fortbildung<br><strong>Offener Dialog</strong></h1>
    </div>
  {{ .Content }}
    </div>
</article>
{{ end }}

