{{ define "main" }}
<article class="bg-repeat-y bg-contain" style="background-image:url(bg-tagung2.png)">
    <div class="text-center">
    <img src="/images/logo-ask.png" alt="ask!" class="inline w-40">
    <h1 class="mt-5"><strong>Netzwerktagung</strong><br>Krisenbegleitung und Offener Dialog</h1>

    <h2 class="mt-12">Referent:innen</h2>
    <p><strong>Ralf Bohnert</strong><br>
    Krisendienst Mittelfranken</p>
    <p><strong>Dr. Volkmar Aderhold</strong><br>
    Ausbildung und Netzwerkarbeit für den Offenen Dialog</p>
    <p><strong>Offener Dialog e.V., Leipzig</strong><br>
    Netzwerkgespräche und Offener Dialog in der Praxis</p>
    <p>Moderator:innen-Pool von ask! Freiburg</p>

    <h2 class="mt-8 text-logoOrange">Sa, 25. Juni 2022</h2>
    <p>9:00 bis 17:30 Uhr im Bürgerhaus Zähringen<br>
    Neben Vorträgen und Workshops besteht Raum für Austausch und Vernetzung</p>
    <p>Am selben Tag findet Abends ab 20:00 Uhr<br>
        die <a href="/posts/ask-jubil%C3%A4umsfeier-am-sa-25.06.-ab-2000-uhr-im-vauban-nach-der-tagung/">Jubiläumsfeier 10 Jahre ask! Außerstationäre Krisenbegleitung</a> statt, <br>
        zu der wir alle Tagungsteilnehmer:innen herzlich einladen!</p>

    <h2 class="mt-12">Programm der Tagung</h2>

    <table class="mx-auto text-left mb-12" style="background-color: rgba(255, 255, 255, .75)">
        <tr class="border-t-2 border-logoPurple"><td class="border-t text-3xl p-2 border-logoPurple">09:00</td><td class="w-4 bg-logoYellowT"></td><td class="border-t p-2 border-logoPurple">Ankommen und Anmeldung im Bürgerhaus Zähringen</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">09:30</td><td class="w-4 bg-logoYellowT"></td><td class="border-t border-logoPurple p-2">Begrüßung durch <em>ask!</em> und Grußworte</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">09:55</td><td class="w-4 bg-logoYellowT"></td><td class="border-t border-logoPurple p-2"><strong>Vortrag Ralf Bohnert:</strong><br>Was brauchen Menschen in Krisen?<br>+ Austausch im Plenum</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">11:10</td><td class="w-4 bg-logoGreenT"></td><td class="border-t border-logoPurple p-2">Pause</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">11:25</td><td class="w-4 bg-logoYellowT"></td><td class="border-t border-logoPurple p-2"><strong>Vortrag Volkmar Aderhold:</strong><br>Offener Dialog und Netzwerkgespräche<br>+ Austausch im Plenum</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">12:40</td><td class="w-4 bg-logoGreenT"></td><td class="border-t border-logoPurple p-2">Mittagspause</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">14:00</td><td class="w-4 bg-logoOrangeT"></td><td class="border-t border-logoPurple p-2"><strong>Offener Dialog e.V. Leipzig:</strong><br>Offener Dialog als selbstorganisierte Initiative<br>+ Austausch im Plenum</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">15:15</td><td class="w-4 bg-logoOrangeT"></td><td class="border-t border-logoPurple p-2"><strong>Offener Dialog in Südbaden:</strong><br>Vorstellung des Moderator:innen-Pools</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">15:30</td><td class="w-4 bg-logoGreenT"></td><td class="border-t border-logoPurple p-2">Kaffeepause und informeller Austausch</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">16:00</td><td class="w-4 bg-logoOrangeT"></td><td class="border-t border-logoPurple p-2">Interaktiver Austausch im Plenum mit Elementen aus dem Offenen Dialog</td></tr>
        <tr><td class="border-t text-3xl p-2 border-logoPurple">17:30</td><td class="w-4 bg-logoOrangeT"></td><td class="border-t border-logoPurple p-2">Ende der Tagung</td></tr>
        <tr><td colspan="3" class="text-center">
    <h2 class="mt-12">Nach der Tagung</h2>
            </td></tr>
            <tr class="border-t border-logoPurple"><td class="border-t text-3xl p-2 border-logoPurple">ab 20:00</td><td class="w-4 bg-logoPurple"></td><td class="border-t p-2 border-logoPurple"><strong><a class="text-logoPurple" href="/posts/ask-jubil%C3%A4umsfeier-am-sa-25.06.-ab-2000-uhr-im-vauban-nach-der-tagung/">Jubiläumsfeier 10 Jahre ask!</a></strong><br> im Haus 037 (Vauban)</td></tr>
    </table>
    </div>
    <div style="background-color: rgba(255, 255, 255, .55)">
  {{ .Content }}
    </div>
</article>
{{ end }}

