{{ $currentPage := . }}
<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $style := resources.Get "style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}favicon.ico">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicon.png" sizes="96x96">
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <meta charset="utf-8" />
    <title>{{ .Site.Title }}{{ if (and .Page.Title (not (eq .Page.Title .Site.Title)))}}: {{ .Page.Title }}{{end}}</title>
  </head>
  {{ $bgImgDefaultName := (index $.Site.Data.backgrounds "background-default") }}
  {{ $bgImgName := default $bgImgDefaultName .Page.Params.background }}
  {{ $bgImg := resources.Get (strings.TrimPrefix "/assets/" $bgImgName) }}
  {{ $bgImgResized := $bgImg.Resize "1536x" }}
  <body class="bg-gray-100">
    <div class="container bg-white mx-auto shadow-2xl">
        <header class="container md:flex md:flex-row md:flex-nowrap md:items-end h-20 md:h-32 lg:h-48 xl:h-64 sticky top-0 pt-0 transition-all duration-200 ease-in bg-cover bg-clip-border bg-no-repeat bg-left-top" id="header" style="background-image: url({{ $bgImgResized.RelPermalink }})">
        <input class="hidden" type="checkbox" id="nav-toggle" /><label class="md:hidden absolute right-0 mr-8 mt-3 cursor-pointer select-none text-4xl font-sans border border-logoPurple bg-white bg-opacity-50 px-3 py-2" id="nav-toggle-icon" for="nav-toggle"></label>
        {{ $logo := resources.Get "images/logo-ask.png" }}
        <div class="bg-white inline-flex items-center p-2 transition-all duration-200 ease-in align-top md:hidden h-full" id="logo">
        <img src="{{ $logo.RelPermalink }}" alt="Logo {{ .Site.Title }}" class="h-full" />
        </div>
        <nav id="nav-main" class="hidden shadow-md bg-white md:bg-transparent md:block ml-0 pl-2 lg:ml-8 text-xl md:text-base lg:text-xl z-50 w-full overflow-y-auto overflow-x-hidden max-h-screen">
          {{ $isStartPage := (and (eq .Slug "") (eq .Type "page")) }}
          <ul class="md:flex md:flex-row md:items-end md:ml-2 mr-2 md:transform md:-skew-x-12">
              <li class="group whitespace-nowrap my-2 md:my-0 flex-shrink-0">
                  <a href="{{ .Site.BaseURL }}" class="block md:border-l md:border-r {{ if $isStartPage }}border-logoGreenT border-b-8 bg-white bg-opacity-50{{ else }}border-logoPurple border-b-8 md:border-b-0{{ end }} px-6 md:px-4 lg:px-8 py-4 text-logoPurple group-hover:text-logoPurple group-hover:border-logoGreenT group-hover:border-b-8 select-none shadow h-16 lg:h-32 xl:h-40 md:bg-white transition-all duration-200 ease-in" id="logo-menu-link"><img class="hidden md:block h-full md:transform md:skew-x-12" src="{{ $logo.RelPermalink }}" alt="Logo ask!" id="logo-menu" /><span class="md:hidden">{{ with .Site.GetPage "/pages/startseite/index.md" }}{{ .Title }}{{ end }}</span></a>
                </li>
            {{ range .Site.Menus.main }}
              {{ $isCurrentMenu := $currentPage.IsMenuCurrent "main" . }}
              <li class="group whitespace-nowrap my-2 md:my-0 relative">
                {{ if $isCurrentMenu }}
                <span class="border-b-8 border-logoGreenT px-6 py-4 block text-logoPurple select-none md:border-r border-logoPurple bg-white bg-opacity-75 shadow h-16"><span class="block md:transform md:skew-x-12"> 
                        {{- .Name -}}</span>
                  </span>
                {{else}}
                <a class="px-6 py-4 block text-logoPurple group-hover:text-logoPurple group-hover:border-logoGreenT border-b-8 group-hover:border-l bg-white bg-opacity-50 group-hover:bg-opacity-75 md:border-r border-logoPurple select-none shadow h-16" href="{{ .URL }}" title="{{ .Name }}">
                    <span class="block md:transform md:skew-x-12">
                    {{- .Name -}}
                    </span>
                  </a>
                {{ end }}
                {{ $aktuell := resources.Get "images/aktuell.png" }}
                <!-- {{ $aktuell.RelPermalink }} -->
                {{ .Post }}
              </li>
            {{ end }}
          </ul>
        <div class="h-16 md:h-0"></div>
        </nav>
      </header>
      <div class="p-8 px-4 md:px-8 lg:px-20 xl:px-32 2xl:px-64 overflow-y-auto">
         {{- block "main" . }}{{- end }}
      </div>
      <footer>
        <nav class="bg-logoGreenT px-4 pb-4 md:px-8 lg:px-20 xl:px-32 pt-4 mt-6 flex flex-col lg:flex-row justify-between">
          <div>
            {{ partial "address.html" $.Site.Data.settings }}
          </div>
          <ul class="flex flex-col lg:flex-row justify-end">
            {{ range .Site.Menus.footer }}
              <li class="m-4 whitespace-nowrap">
                <a href="{{ .URL }}">
                  {{- .Name -}}
                </a>
              </li>
            {{ end }}
          </ul>
        </nav>
      </footer>
    </div>
    <script>
// When the user scrolls down 50px from the top of the document, resize the header's font size
window.onscroll = function() {scrollFunction()};
window.onload = function() {scrollFunction()};

function scrollFunction() {
  var beginSmall = document.body.scrollWidth > 640 ? 150 : 50;
  var endSmall = 20;
  if (document.body.scrollTop > beginSmall || document.documentElement.scrollTop > beginSmall) {
    document.getElementById("header").classList.remove("md:h-32", "lg:h-48", "xl:h-64", "h-20");
    document.getElementById("header").classList.add("h-16", "xl:h-32");
    document.getElementById("logo-menu-link").classList.remove("lg:h-32","xl:h-40");
    document.getElementById("nav-toggle-icon").classList.add("text-3xl","mt-1");
    document.getElementById("nav-toggle-icon").classList.remove("text-4xl","mt-3");
//    document.getElementById("header-aktuell").classList.add("hidden");
  } else if( document.body.scrollTop < endSmall && document.documentElement.scrollTop < endSmall ) {
    document.getElementById("header").classList.add("md:h-32", "lg:h-48", "xl:h-64", "h-20");
    document.getElementById("header").classList.remove("h-16", "xl:h-32");
    document.getElementById("logo-menu-link").classList.add("lg:h-32","xl:h-40");
    document.getElementById("nav-toggle-icon").classList.remove("text-3xl","mt-1");
    document.getElementById("nav-toggle-icon").classList.add("text-4xl","mt-3");
//    document.getElementById("header-aktuell").classList.remove("hidden");
  }
}
</script>
  </body>
</html>
