{{ define "main" }}

<div class="flex flex-col">
    <div>
        {{ $bgtagung := resources.Get "images/bg-tagung.png" }}
        <div class="flex flex-col md:flex-row">
        <a href="/fortbildung-offener-dialog/" class="p-4 lg:p-8 text-center bg-cover bg-no-repeat bg-center w-full md:max-w-max mx-auto border-4 border-logoOrangeT block text-logoPurple rounded-xl" style="background-image:url({{ $bgtagung.RelPermalink }})"><em>Aktuell:</em> <strong>Fortbildung Offener Dialog wieder in Freiburg!</strong><br>ab Oktober 2025<br><strong class="text-red-800">weitere Infos und Anmeldung</strong></a>
        </div>
        <div class="flex">
            <a href="{{ .Site.BaseURL }}posts" class="p-4 lg:p-8 text-center w-full md:max-w-max mx-auto block"><strong>⮱ weitere Neuigkeiten</strong></a>
        </div>
      {{ with .Site.GetPage "/pages/startseite/index.md" }}
        {{ if .Content }}
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        {{ end }}
      {{ end }}
        <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-8 {{ if not .Content }}mt-2{{end}} mb-4">
            <div class="col-span-1 md:col-span-2 lg:col-span-1 flex flex-col items-center">
              {{ with .Site.GetPage "/pages/ziele/index.md" }}
                {{ $currentPage := . }}
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                {{ with .Resources.ByType "image" }}
                    {{ range first 1 . }}
                        {{ $image := .Resize "150x" }}
                        <a href="{{ $currentPage.RelPermalink }}"><img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Title }}" title="{{ .Title }}"/></a>
                    {{ end }}
                {{ end }}
              {{ end }}
            </div>

            <div class="flex flex-col items-center">
              {{ with .Site.GetPage "/pages/mitmachen/index.md" }}
                {{ $currentPage := . }}
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                {{ with .Resources.ByType "image" }}
                    {{ range first 1 . }}
                        {{ $image := .Resize "150x" }}
                        <a href="{{ $currentPage.RelPermalink }}"><img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Title }}" title="{{ .Title }}"/></a>
                    {{ end }}
                {{ end }}
              {{ end }}
            </div>

            <div class="flex flex-col items-center">
              {{ with .Site.GetPage "/pages/netzwerkgespraeche/index.md" }}
                {{ $currentPage := . }}
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                {{ with .Resources.ByType "image" }}
                    {{ range first 1 . }}
                        {{ $image := .Resize "150x" }}
                        <a href="{{ $currentPage.RelPermalink }}"><img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Title }}" title="{{ .Title }}"/></a>
                    {{ end }}
                {{ end }}
              {{ end }}
            </div>
        </div>

    </div>

    <hr class="mb-12" />
        <h1>Neuigkeiten</h1>
        <div class="flex flex-col space-y-6 items-center">
        {{ range $i, $e := first 2 (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
        {{ partial "posts-item" $e }}
        {{ if lt $i 1 }} <hr class="w-3/4 border-logoPurple" /> {{end}}
        {{ end }}
        <a href="{{ .Site.BaseURL }}posts">weitere Neuigkeiten</a>
        </div>
</div>

{{ end }}
