{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages.ByDate.Reverse }}
    <article class="my-8">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div>{{ .Summary }}</div>
    </article>
  {{ end }}
{{ end }}

