{{ define "main" }}
<article>
  <h1>Neuigkeiten</h1>
  <h2>{{ .Title }}</h2>
    {{ if .Params.image }}
        {{ $original := .Page.Resources.GetMatch (.Params.image) }}
        {{ if and (ne $original.MediaType.SubType "svg") (gt $original.Width 400) }}
            {{ $image := $original.Resize "400x" }}
            <img class="lg:float-right sm:ml-8 mb-4" src="{{ $image.RelPermalink }}" alt="" style="width:400px" />
        {{ else }}
            {{ if eq $original.MediaType.SubType "svg" }}
                <img class="lg:float-right sm:ml-8 mb-4" src="{{ $original.RelPermalink }}" alt="" style="width:400px" />
            {{ else }}
                <img class="lg:float-right sm:ml-8 mb-4" src="{{ $original.RelPermalink }}" alt="" />
            {{ end }}
        {{ end }}
  {{ end }}
  {{ .Content }}
  <p class="text-right">
        <time class="text-gray-600">Veröffentlicht am {{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }} - </time>
        <a href="{{ "categories" | absURL}}/{{ .Params.categories | urlize }}">{{ .Params.categories }}</a>
  </p>
</article>
{{ end }}

