{{ if (or .name .adressinfo .street .city) }}
<blockquote>
    {{ if .name }}<strong>{{ .name }}</strong><br>{{ end }}
    {{ if .addressinfo }}{{ .addressinfo }}<br>{{ end }}
    {{ if .street }}{{ .street }}<br>{{ end }}
    {{ if .city }}{{ .city }}<br>{{ end }}
</blockquote>
{{ end }}
{{ if (or .tel .fax .email) }}
<blockquote>
    {{ if .tel }}<strong>Telefon:</strong> {{ .tel }}<br>{{ end }}
    {{ if .fax }}<strong>Fax:</strong> {{ .fax }}<br>{{ end }}
    {{ if .email }}<strong>E-Mail:</strong> {{ partial "email.html" . }}{{ end }}
</blockquote>
{{ end }}
