{{ $currentPage := . }}
<ul class="flex flex-wrap list-none">
  {{ range .Site.Menus.main }}
    {{ $hasMainMenu := $currentPage.HasMenuCurrent "main" . }}
    {{ $isCurrentMenu := $currentPage.IsMenuCurrent "main" . }}
    {{ $isCurrentPosts := (or (eq $currentPage.Type "posts") (eq $currentPage.Kind "taxonomy"))}}
    {{ $isNewsMenuItem := (eq .Identifier "neuigkeiten") }}

    {{ if $hasMainMenu }}
    <li class="mx-2"><a href="{{ .URL }}">{{- .Name -}}</a></li>
    {{ if .HasChildren }}
        {{ range .Children }}
            {{ $isCurrentMenu := $currentPage.IsMenuCurrent "main" . }}
            {{ if $isCurrentMenu }}
            <li>&gt; <a href="{{ .URL }}">{{- .Name -}}</a></li>
            {{end}}
        {{end}}
    {{end}}
    {{end}}
  {{end}}
</ul>
