{{ $mail := .email }}
{{ $url := (printf "mailto:%s" $mail) }}
{{ $id := (md5 $mail) }}
{{ $mailparts := (split $mail "@") }}
<span class="{{ $id }}" style="white-space: nowrap;">{{ delimit $mailparts "#" }} (# durch @ ersetzen)</span>
    <script type="text/javascript">
        var mail_fields = document.getElementsByClassName("{{ $id }}");
        for (var i = 0; i < mail_fields.length; i++) {
          mail_fields[i].innerHTML='<a href="'+atob("{{ $url | base64Encode }}")+'">'+atob("{{ $mail | base64Encode }}")+'</a>';
        }
    </script>
