  {{ $paginator := .Paginate .Pages }}
  {{ $len := sub $paginator.NumberOfElements 1 }}
  <div class="flex flex-col space-y-12 items-center">
  {{ range $i, $e := $paginator.Pages.ByDate.Reverse }}
    {{ partial "posts-item" $e }}
    {{ if lt $i $len }}<hr class="w-3/4 border-logoPurple"/>{{ end }}
  {{ end }}
  </div>
  <div class="flex flex-wrap justify-between">
      <div class="p-2">
  {{ template "_internal/pagination.html" . }}
      </div>

  <div class="p-2">{{ with .OutputFormats.Get "rss" -}}
      {{ printf `<a rel="%s" type="%s" href="%s" title="%s" >RSS-Feed</a>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}</div>
  </div>
