    <article class="w-full">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div class="flex space-x-0 sm:space-x-4 flex-col sm:flex-row">
          {{ if .Params.image }}
              {{ $image := .Page.Resources.GetMatch (.Params.image) }}
              {{ if ne $image.MediaType.SubType "svg" }}
                  {{ $image := $image.Resize "200x" }}
              {{ end }}
              <div class="flex justify-center sm:block flex-shrink-0 pt-4">
                <img src="{{ $image.RelPermalink }}" alt="" style="width:200px" />
              </div>
          {{ end }}
          <div class="w-full">{{ .Summary }}</div>
      </div>
      <p class="text-right">
        <time class="text-gray-600">Veröffentlicht am {{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
        {{ if .Params.categories }} - <a href="{{ "categories" | absURL}}/{{ .Params.categories | urlize }}">{{ .Params.categories }}</a>{{ end }}
      </p>
    </article>

