{{ define "main" }}
<article class="p-8 px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20">
  {{ with .Site.GetPage "/pages/404-seite-nicht-gefunden/index.md" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  {{ end }}
</article>
{{ end }}

