@tailwind base;

html {
    scroll-behavior: smooth;
}

body {
  @apply text-logoPurple;
}
h1 {
  @apply text-4xl mt-2 mb-4;
}
h2 {
  @apply text-3xl mt-4 mb-2;
}
h3 {
  @apply text-2xl mt-4 mb-2;
}
h4 img {
    display: inline;
}
p {
  @apply my-2;
}
a {
  @apply text-red-800;
}
a:hover {
  @apply text-logoOrange;
}
h1 a, h2 a, h3 a {
  @apply text-logoPurple;
}
article ul {
  @apply list-disc;
  @apply ml-6;
}
article ol {
  @apply list-decimal;
  @apply ml-6;
}

article blockquote {
  @apply pl-5 border-l-4 border-gray-500 my-4;
}

/*** Hugo-Internal pagination ***/

.pagination {
  @apply flex;
}
.pagination .page-item {
  @apply mr-4;
}
.pagination .active .page-link {
  @apply text-logoPurple;
}
.pagination .disabled {
  @apply hidden;
}

/*** Gradients ***/
@media (max-width: 639px) {
.mobile-gradient {
    background: linear-gradient(to right, #fff 70%, theme(colors.logoYellowOrange)); /** linear-gradient(to bottom right, #efefef, #a9c938); **/
    box-shadow: 0px 1px 3px gray;
}
}

/*** Show/Hide Mobile Menu CSS only ***/

#nav-toggle:checked ~ nav#nav-main {
  @apply block;
}

#nav-toggle:checked ~ div#logo {
  @apply h-12;
}

#nav-toggle-icon:after {
    content: "\2630";
}

#nav-toggle:checked ~ #nav-toggle-icon:after {
    content: "\00D7";
}

#nav-toggle:checked ~ #nav-toggle-icon {
    @apply mt-0 text-3xl py-1;
}

/*** Slider CSS only ***/

input.trigger:checked + .slide {
  @apply block;
}

@tailwind components;

@tailwind utilities;
