{{ $original := .Page.Resources.GetMatch (.Get "src") }}
{{ $text := default (.Get "src") (.Get "text") }}
{{ $ext := path.Ext (.Get "src") }}
{{ $pdficon := resources.Get "images/icons/icon_pdf.png" }}
<a href="{{ $original.RelPermalink }}" title="{{.Get "title" }}" class="whitespace-nowrap">{{ if ($ext = ".pdf") }}<img src="{{ $pdficon.RelPermalink }}" width="20" height="20" alt="" class="inline" />&nbsp;{{ end }}<span class="whitespace-normal">{{ $text }}</span></a>
