{{ $original := .Page.Resources.GetMatch (.Get "src") }}
{{ $w := default 1400 (.Get "width") }}
{{ $wm := default $w (.Get "width-mobile") }}
{{ $float := default "none" (.Get "float") }}
{{ $floatmargin := (printf "m%.1s-0" $float) }}
{{ $margin := default 4 (.Get "margin") }}
{{ if (eq (.Get "no-resize") "true") }}
<img class="float-{{ $float }} m-{{ $margin }} {{ $floatmargin }}" src="{{ $original.RelPermalink }}" alt="{{.Get "alt" }}" title="{{.Get "title" }}" width="{{ $w }}" />
{{ else }}
{{ if (or (gt $original.Width $wm) (gt $original.Width $w)) }}
    {{ $wx := (printf "%d%s" $w "x") }}
    {{ $image := $original.Resize $wx }}
    {{ if ne $w $wm }}
        {{ $wmx := (printf "%d%s" $wm "x") }}
        {{ $imagem := $original.Resize $wmx }}
        <img class="float-{{ $float }} m-{{ $margin }} {{ $floatmargin }}" srcset="{{ $imagem.RelPermalink }} {{ $wm }}w, {{ $image.RelPermalink }} {{ $w }}w" sizes="(max-width: 640px) {{ $wm }}px,{{ $w }}px" src="{{ $image.RelPermalink }}" alt="{{.Get "alt" }}" title="{{.Get "title" }}"/>
    {{ else }}
        <img class="float-{{ $float }} m-{{ $margin }} {{ $floatmargin }}" src="{{ $image.RelPermalink }}" alt="{{.Get "alt" }}" title="{{.Get "title" }}"/>
    {{ end }}
{{ else }}
    <img class="float-{{ $float }} m-{{ $margin }} {{ $floatmargin }}" src="{{ $original.RelPermalink }}" alt="{{.Get "alt" }}" title="{{.Get "title" }}"/>
{{ end }}
{{ end }}

